<tiltviewergallery>
	<photos>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>
		<photo imageurl="/assets/action-comics-number-1.jpg" linkurl="http://www.google.com">
			<title>Image 1</title>
			<description>This is a regular text description.</description>
		</photo>

  </photos>
</tiltviewergallery>
