<h2><%= @box.name %></h2>

<p>Category : <%= @box.category.name unless @box.category.nil? %></p>

<% unless @box_items.blank? %>
  <h3>Items</h3>
  <% for item in @box_items %>
    <ul>
      <li><%= item.title %></li>
    </ul>
  <% end %>
<% end %>

<p><%= link_to "Create New Item", new_item_path(:id => @box.id) %></p>
