<h2><%= @box.name %></h2>

<p>Category : <%= @box.category.name %></p>

<% unless @box_items.blank? %>
  <h3>Items</h3>
  <% for item in @box_items %>
    <ul>
      <li><%= item.title %></li>
    </ul>
  <% end %>
<% end %>