<% if current_user %>
  <h3>Home</h3>
  <%= link_to "View Profile", user_path(@user)%> | 
  <%= link_to 'Sign Out', signout_path %>
<% else %>
  <%= link_to 'Twitter Sign In', "auth/twitter" %> | 
  <%= link_to 'Facebook Sign In', "auth/facebook" %>
<% end %>