<% if current_user %>
  <h3>Home</h3>
  <% @users.each do |user| %>
    <p>User: <%= user.name %></p>
  <% end %>
  <%= link_to 'Sign Out', signout_path %>
<% else %>
  <%= link_to 'Twitter Sign In', "auth/twitter" %> | 
  <%= link_to 'Facebook Sign In', "auth/facebook" %>
<% end %>