<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h2>Passion Box</h2>
  <p>Catalog, showcase and trade your collection online and share it to a worldwide audience. </p>
  <p><a class="btn primary large">Learn more &raquo;</a></p>
</div>

<div class="row">
  <div class="span8">
    <h3>Collectors</h3>
    <p>Lorem ipsum dolor sit amet</p>
  </div>
  <div class="span8">
    <h3>Become a Curator!</h3>
  </div>
</div>