<h1>Items</h1>
<%= link_to 'Create', new_item_path %><br>

<% @items.each do |i| %>
  <%= i.title %> |
  <%= link_to 'Edit', edit_item_path(i) %> |
  <%= link_to '(delete)', item_path(i), :method => :delete, :confirm => "yousure?" %><br>
<% end %>
